APP_NAME=Prier sans cesse API

APP_ENV=development

DEBUG=true

API_V1_PREFIX=/api/v1

FRONTEND_URL=http://localhost:5173

ALLOWED_ORIGINS=http://localhost:5173

MONGODB_URI=mongodb://localhost:27017

MONGODB_DB_NAME=prier_sans_cesse

LOG_LEVEL=INFO